:root {
  --clr-black: #1c1c1c;
  --clr-white: #f7f7f7f7;
  --clr-dark: #020617;
  --clr-light: #f1f5f9;
  --clr-gray: #ecececec;
  --clr-dark-gray: #9c9c9c;

  /* Controls */
  --clr-white-btn: #f7f7f7;
  --clr-black-btn: #1c1c1c;
  --clr-cmb: #f1f1f1;
  --clr-modal-title: #eb6565;
  --clr-btn-back: linear-gradient(to right, #dad993, #ddc124);
  --clr-btn-transfer: linear-gradient(to right, #9eda93, #22cba8);
  --clr-separator: #6eecb7;

  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8d030;
  --type-ice: #98d8d8;
  --type-fighting: #c03028;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-fairy: #f0b6bc;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

.dark-mode {
  --clr-white: #1c1c1c;
  --clr-black: #f7f7f7f7;
  --clr-light: #020617;
  --clr-dark: #f1f5f9;
  --clr-gray: #9c9c9c;
  --clr-cmb: #272933;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  min-height: 100vh;
  background-color: var(--clr-light);
  color: var(--clr-black);
  position: relative;
}

main {
  position: relative;
  padding: 2rem;
}

ul {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
}

.btn {
  background-color: var(--clr-gray);
  padding: 0.5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 02rem rgba(0, 0, 0, 0.5);
}

.backToTop {
  position: fixed;
  font-size: var(--size-sm);
  background-color: var(--clr-white-btn);
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem;
  /* border: 1px groove var(--clr-black); */
  border-radius: 70%;
  box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 2;
}

.upArrow {
  color: var(--clr-black-btn);
  width: var(--size-6xl);
  height: var(--size-6xl);
  display: block;
}
/* a {
  color: ;
}

strong {
  color: ;
} */

/*Pokemon types*/
.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.water {
  background-color: var(--type-water);
  color: var(--clr-white);
}

.grass {
  background-color: var(--type-grass);
  color: var(--clr-white);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-white);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type-fighting);
  color: var(--clr-black);
}

.poison {
  background-color: var(--type-poison);
  color: var(--clr-black);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-white);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-white);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-black);
}

.dark {
  background-color: var(--type-dark);
  color: var(--clr-black);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-black);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-white);
}

/* xs */
@media (min-width: 475px) {
  .backToTop {
    padding: 1rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/*@media (min-width:768px){}*/

/* Lg */
/*@media (min-width:1024px){}*/

/* xL */
/*@media (min-width:1280px){}*/

/* 2xL */
/*@media (min-width:1536px){} */
